@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

* {
  box-sizing: border-box;
}

/* Reset CSS (JANGAN DIHAPUS) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

/* Header dan Navigasi */

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.05em;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 110px 0 30px 0;
  color: #f1c40f;
  background-image: url(https://dk-cv.herokuapp.com/assets/images/Mountain-Destinations.jpg);
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 1;
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 10px;
}

.btn-wrapper {
  margin: 40px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.booking {
  background-color: #192a56;
  cursor: pointer;
  box-shadow: 0 6px #7f8c8d;
}

.booking:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 1;
  border-radius: 6px;
}

.btn:hover {
  opacity: 1;
}

header {
  height: 110px;
  width: 100%;
  background-color: #f1c40f;
}

.logo {
  width: 120px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgb(240, 204, 127, 0.5)
}

.header-right a {
  line-height: 110px;
  font-size: 17px;
  margin: 50px 35px 20px 35px;
  color: white;
  display: inline;
}

/* Main Content */

main {
  padding: 20px;
  overflow: auto;
}

/* Footer */

footer img {
  width: 125px;
}

footer {
  text-align: center;
  font-weight: lighter;
  font-size: 1.15em;
  padding: 20px;
  color: rgb(245, 245, 245);
  background-color: rgba(52, 73, 94, 1);
}