/* Reset CSS (JANGAN DIHAPUS) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

main img {
    max-width: 300px;
    text-align: center;
    border-radius: 10px 20px 30px 10px;
}

/* Header */


/* Navigasi */


/* Main Content */

/* Footer */

footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
}